node_modules/
dist/
build/

# Keep environment variables out of version control
.env
.env.*

# Prisma
/src/generated/prisma
*.db
*.db-journal

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
npm-debug.log*
